
body{
    margin: 0%;
    padding: 0%;
    background-image:  url("icons/nordeste.jpg") ;
    background-repeat: repeat-x repeat-y;
}

.game{    
    height: 45%;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 20%;
    background-color: white;
    opacity: 0.8;
    position: absolute; 
}

.info{
    height: 10%;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 10%;
    position: absolute;
    background-color: #171717;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.8;
}

.controle{
    height: 10%;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 61%;
    position: absolute;
    background-color: #171717;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    opacity: 0.8;
}

.btns-game{
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

.btn{
    margin-left: 4px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-sm{
    width: 60%;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #292727;
    font-size: 12pt;    
}

.x{
    color: white;
    font-size: 30pt;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

.o{
    color: white;
    font-size: 30pt;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: center;
}
/* 

@media media (min-width: 960px) and (max-width: 1280px) {
    
    body{
        background-image:  url("icons/nordeste.jpg") ;
        background-image: url("icons/back-game.png");
        background-repeat: repeat-y;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }    

    .game{    
        height: 40%;
        width: 40%;
        left: 30%;
        right: 30%;
        top: 25%;
        bottom: 25%;
        background-color: white;
        opacity: 0.7;
        position: absolute;   
    }
    
    .info{
        height: 10%;
        width: 40%;
        left: 30%;
        right: 30%;
        top: 15%;
        position: absolute;
        background-color: #171717;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        vertical-align: center;
        opacity: 0.8;
    }
    
    .controle{
        height: 10%;
        width: 40%;
        left: 30%;
        right: 30%;
        top: 70%;
        position: absolute;
        background-color: #171717;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        vertical-align: center;
        opacity: 0.8;
       
    }
    
    .btns-game{
        text-align: center;
        display: flex;
        flex-direction: column;
        vertical-align: center;
    }
    
    .btn{
        margin-left: 4px;
        margin-right: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
    .btn-sm{
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        background-color: #292727;
        font-size: 12pt;    
    }
  
} */