body{
    margin: 0;
    padding: 0;
}

@keyframes background_animation {
    0%{
        background-position: 0 0, 00 0;
    }
    50%{
        background-position: 50% 0, 100% 0;
    }
    100%{
        background-position: 100% 0, 100% 0;
    }
}


body{
    background-image:  url("icons/nordeste.jpg") ;
    /* background-image: url("icons/back-game.png"); */
    background-repeat: repeat-x;
}

/* .body{   
    background-image: url("icons/sol.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom;
    animation: background_animation 60s linear infinite;
} */

.back-game{
    background-image: url("icons/nordeste.jpg");
    width: 100%;
    height: 100%;
}
.container{
    /* opacity: 0.7; */
}
.game{    
    height: 45%;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 20%;
    /* background-color: #f2ceae; */
    position: absolute;
   
}

.info{
    height: 15%;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 5%;
    position: absolute;
    background-color: #a66946;
   
}

.controle{
    height: 15%;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 60%;
    position: absolute;
    background-color: #a66946;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: center;
   
}

.btns-game{
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

/* 
.x{
    height: 50%;
    width: 50%;
    color: #000;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 25%;
    background-color: white;
    border: 1px solid;
    border-color:  #000;
    border-radius: 5px;
    font-size: 30pt;

} */

.btn{
    margin-left: 3px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-sm{
    margin-top: 10%;
    height: 90%;
    width: 80%;
    margin-left: 3%;
    margin-right: 3%;
}
